@define-color base rgba(10, 10, 10, 0.85);
@define-color text rgb(205, 214, 244);
@define-color text_dark rgb(24, 24, 37);

@define-color hover_color rgba(205, 107, 107, 0.3);
@define-color active_color rgba(205, 214, 244, 0.2);
@define-color inactive_color rgba(205, 214, 244, 0.1);

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  color: @text;
  background: transparent;
}

tooltip {
  background: @base;
  border-radius: 12px;
}

#workspaces {
  background: @base;
  border-radius: 16px 0 0 16px;
  margin: 3px 0 3px 0;
  padding: 0 3px 0 4px;
}

#workspaces button {
  padding: 0;
  color: @text;
  margin: 2px 2px 2px 0;
  background: @inactive_color;
  border: 1px solid transparent;
  border-radius: 16px;
  padding-left: 4px;
}

#workspaces button.active {
  color: @text;
  background: @active_color;
  margin: 2px 2px 2px 0;
  border-radius: 16px;
  border: 1px solid @active_color;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

#workspaces button.empty {
  background: @inactive_color;
  padding: 0 4px;
  border-radius: 16px;
}

#workspaces button:hover {
  background: @hover_color;
  color: @text;
}

#power-profiles-daemon {
  border: 0;
  border-radius: 0;
}

#power-profiles-daemon.performance {
  color: @red_bright;
}
#power-profiles-daemon.balanced {
  color: @orange_bright;
}
#power-profiles-daemon.power-saver {
  color: @green_bright;
}

#custom-power-menu {
  color: @text;
  background: @base;
  border-radius: 0 16px 16px 0;
  padding: 0 15px 0 8px;
  margin: 3px 10px 3px 0;
  font-size: 16px;
}

#custom-keypress,
#custom-cava,
#taskbar,
#power-profiles-daemon,
#custom-mpris,
#window,
#battery,
#pulseaudio,
#pulseaudio.microphone,
#network,
#bluetooth,
#temperature,
#tray,
#backlight,
#cpu,
#memory,
#custom-tlp,
#custom-fanctl {
  background: @base;
  padding: 0 10px;
  margin: 3px 0;
}

#clock {
  background: @base;
  color: @peach_bright;
  margin: 3px 0;
  padding-left: 8px;
  padding-right: 8px;
}

#custom-notification {
  background: @base;
  margin: 3px 0;
  padding: 0 8px 0 6px;
  border-radius: 0 16px 16px 0;
}

#temperature.critical {
  color: @text;
}

#tray {
  border-radius: 16px 0 0 16px;
}

#custom-menu {
  color: @text;
  background: @base;
  border-radius: 16px 0 0 16px;
  padding: 0 8px;
  margin: 3px 0 3px 10px;
  font-size: 16px;
}

menu {
  border-radius: 15px;
  background: @base;
  color: @text;
  padding: 2px;
}

menuitem {
  border-radius: 15px;
  margin: 3px 2px;
}

#custom-screenrecord {
  border-radius: 0;
  margin: 3px 0;
}

#custom-screenrecord.recording {
  background: @text;
  color: @text;
  font-weight: bold;
  animation: pulse 2s infinite;
}

#custom-screenrecord.recording:hover {
  background: @text;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

#custom-cava {
  border-radius: 0 16px 16px 0;
  padding: 0;
}

#custom-cava.idle {
  color: @text;
  border-radius: 0 20px 20px 0;
  padding: 3px;
  margin: 3px 0;
}

#custom-mpris {
  color: @text;
  border-radius: 0 20px 20px 0;
  /* padding: 3px; */
  margin: 3px 0;
}

#window {
  border-radius: 16px;
  margin: 3px 10px;
}

#network {
  color: @text;
}
#bluetooth {
  color: @text;
}
#pulseaudio {
  color: @text;
}
#pulseaudio.microphone {
  color: @text;
}
#battery {
  color: @text;
}

#battery {
    font-family: "Symbols Nerd Font";
    font-size: 14px;
    padding: 0 8px;
}

#custom-weather {
  border-radius: 0;
  margin: 3px 0;
  padding-left: 8px;
  background: @base;
}

#cpu,
#memory {
  border-radius: 0;
}
